<!doctype html>
<html>
<head>
  <title>Game page</title>
</head>
<body>
    <form action = "/madlib">
      Enter a name: <input type="text" name="person"><br> 
    
      Enter your favorite color: <input type="text" name="color"><br> 

      Enter a Noun: <select name = "noun" id = "noun">
          <option value="computer">Computer</option>
          <option value="house">House</option>
          <option value="water">Water</option>
        </select><br> 
        <input type="submit">
    </form>
</body>
</html>